*{
    font-family: Helvetica;
}
body {
  left: 0;
  margin: 0;
  position: relative;
}


.menu {
  position: relative;
  background: #183152;
  left: -285px;  
  height: 100vh;
  position: fixed;
  width: 285px;
}

.center{
    color:white;
    font-size:5vh;
    text-align: center;
    width:25vw;
    margin-left:25vw;
    top:25vh;
    position: relative;
}

.mainbody {
  background-color:#375D81;
  height: 100vh;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}


.menu ul {
  border-top: 1px solid #C4D7ED;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #C4D7ED;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #E1E6FA;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.menuclicky {
  color: white;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  width:30px;
  text-decoration: none;
  text-transform: uppercase;
transition: all 0.2s ease-in;
  cursor:pointer;
}
.menuclicky:hover{
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: black;
    -webkit-fill-color: black;
    text-shadow: 1px 0px 20px white;
}

.icon-menu i {
  margin-right: 5px;
}
.page{
    width:100vw;
    height:100vh;
}
.body2{
    background-color: black;
}