*{
    font-family: Helvetica;
}
body {
    left: 0;
    margin: 0;
    position: relative;
    background-color: #687D77;
}


.menu {
  position: relative;
  background-color: #484A47;
  left: -285px;  
  height: 100vh;
  position: fixed;
  width: 285px;
}


.menu ul {
  border-top: 1px solid #ECEBF0;
  list-style: none;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #ECEBF0;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #ECEBF0;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.menuclicky {
    color: white;
    font-size: 1.5vw;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 7.5vw;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    cursor:pointer;
}


.icon-menu i {
  margin-right: 5px;
}

.center{
    color:#E1E6FA;
    font-size:5vh;
    text-align: center;
    width:50vw;
    margin-left:3vw;
    top:15vh;
    position: relative;
}
.center2{
    color:#E1E6FA;
    font-size:5vh;
    text-align: center;
}
.left{
    float:left;
    width:20vw;
    height:20vw;
    overflow:hidden;
}
.left img{
    width:20vw;
    margin-top: -6vh;
}

.mainbody {
  /*background-color:#375D81;*/
  background-image: url("../IMG_0356.JPG");
  height: 100vh;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.page{
    margin-top: 0;
    width:100%;
    overflow: hidden;
    height:100vh;
}
.body1{
      height:100vh;
}
.body2{
    background-image:url('../apple.jpg');
    background-size:100%;
    
}
.body2 h1{
    color:#183152;
}
.dialog{
    top:25vh;
    width:50vw;
    height:50vh;
    background-color: rgba(55, 93, 129, 0.2);
    position:relative;
    left:25vw;
    text-align: center;
    
}