/*Color Scheme: Flat UI
https://color.adobe.com/Flat-UI-color-theme-2469224/*/

*{
	margin:0;
	font-family:Helvetica;
}
a{
	text-decoration:none;
}
h1{
	font-size:7vh;
}
#navbar{
	width:100vw;
	background-color:#2C3E50;
	height:7vh;
}
#navbar ul li{
	display:inline-block;
}
#navbar ul li a{
	width:100px;
	display:inline-block;
	text-align:center;
	padding-top:2vh;
	height:7vh;
	margin-right:10em;
	color:#ECF0F1;
	transition: all 0.3s ease-out;
	text-decoration:none;
}
#navbar ul li a:hover{
	background-color:#ECF0F1;
	color:#2C3E50;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
}
footer{
	height:10vh;
	width:100vw;
	text-align:center;
	color:#ECF0F1;
	background-color:#2C3E50;
	font-size:2.5vh;
	padding-top:5vh;
	-webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
}
.pagecenter{
	position:relative;
	text-align:center;
	top:50vh;
	width:30vw;
	margin-left:35vw;
}
.top .pagecenter{
	color:#ECF0F1;
	
}
.content{
	width:100vw;
	height:100vh;
	background-color:#ECF0F1;
}
.top{
	background-color:#E74C3C;
	height:93vh;
}
#products{
	color:#3498DB;
}
#contact{
	background-color:#3498DB;
	color:#ECF0F1;
}
#contact a{
	color:#2C3E50;
	
}