*{
    font-family: Helvetica;
    /*Best font.*/
    margin:0;
}
h1{
    font-size: 69px;
    /*Because why the fuck not*/
}

body{
    width:100vw;
    overflow-x: hidden;
    /*I am lazy twat. Get over it*/
    height:100%;
    min-height: 100vh;
    background-color:beige;
    
}
body h1, h3, p{
    text-align: center;
}
.imgholder{
    margin-top: 3vh;
}

.imgholder img{
    width:75vw;
    max-width: 75vw;
    overflow: hidden;
    height:auto;
    float:left;
}
.fucktard{
    width:25vw;
    padding-left: 3vw;
    padding-top: 3vh;
    padding-bottom: 10vh;
}

footer{
    text-align: center;
    font-weight: bold;
}